{%extends "base.html"%}

{%block content%}
<!-- Topbar -->
<!-- End of Topbar -->

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>
    <!-- Content Row -->
    <div class="row">
	<!-- Earnings (Monthly) Card Example -->
	<div class="col-xl-3 col-md-6 mb-4">
	    <div class="card border-left-primary shadow h-60 py-2">
		<div class="card-body">
		    <div class="row no-gutters align-items-center">
				<div class="col">
					<a href="http://git.nextop.cc" target="_blank">GIT 代码仓库</a>
				</div>
				<div>
				    (Login via LDAP)
				</div>
		    </div>
		</div>
	    </div>
	</div>

	<!-- Earnings (Monthly) Card Example -->
	<div class="col-xl-3 col-md-6 mb-4">
	    <div class="card border-left-success shadow h-60 py-2">
		<div class="card-body">
		    <div class="row no-gutters align-items-center">
				<div class="col">
					<a href="http://wiki.nextop.cc" target="_blank">内部 wiki 文档</a>
				</div>
				<div>
				    (Login via LDAP)
				</div>
		    </div>
		</div>
	    </div>
	</div>
	<!-- Earnings (Monthly) Card Example -->
	<div class="col-xl-3 col-md-6 mb-4">
	    <div class="card border-left-info shadow h-60 py-2">
		<div class="card-body">

		     <div class="row no-gutters align-items-center">
			<div class="col mr-4">
			    <div class="row no-gutters align-items-center">
				<div class="col">
					<a href="http://dev-jenkins.nextop.cc" target="_blank">开发 and 测试 Jenkins

					</a>
				</div>
				<div>
				    (Login via LDAP)
				</div>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	</div>
	<!-- Earnings (Monthly) Card Example -->
    </div>

    <div class="row">
	<!-- Earnings (Monthly) Card Example -->
	<div class="col-xl-3 col-md-6 mb-4">
	    <div class="card border-left-primary shadow h-60 py-2">
		<div class="card-body">
		    <div class="row no-gutters align-items-center">
				<div class="col">
					<a href="http://zbox.nextop.cc/zentao" target="_blank">禅道 项目 管理</a>
				</div>
				<div>
				</div>
		    </div>
		</div>
	    </div>
	</div>

	<!-- Earnings (Monthly) Card Example -->
	<div class="col-xl-3 col-md-6 mb-4">
	    <div class="card border-left-success shadow h-60 py-2">
		<div class="card-body">
		    <div class="row no-gutters align-items-center">
				<div class="col">
					<a href="http://nexus.vantopgroup.com/" target="_blank">内部 Maven 仓库</a>
				</div>
		    </div>
		</div>
	    </div>
	</div>
	<!-- Earnings (Monthly) Card Example -->
	<div class="col-xl-3 col-md-6 mb-4">
	    <div class="card border-left-info shadow h-60 py-2">
		<div class="card-body">

		     <div class="row no-gutters align-items-center">
			<div class="col mr-4">
			    <div class="row no-gutters align-items-center">
				<div class="col-auto">
				</div>
				<div class="col">
					<a href="http://wiki.nextop.cc/pages/viewpage.action?pageId=336651" target="_blank">开发测试环境日志平台</a>
				</div>
				<div>
				</div>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	</div>
	<!-- Earnings (Monthly) Card Example -->
    </div>

    <div class="row">
	<!-- Earnings (Monthly) Card Example -->
	<div class="col-xl-3 col-md-6 mb-4">
	    <div class="card border-left-primary shadow h-60 py-2">
		<div class="card-body">
		    <div class="row no-gutters align-items-center">
				<div class="col">
					<a href="http://sql.nextop.cc" target="_blank">SQL 审核执行平台</a>
				</div>
				<div>
				    (Login via LDAP)
				</div>
		    </div>
		</div>
	    </div>
	</div>

	<!-- Earnings (Monthly) Card Example -->
	<div class="col-xl-3 col-md-6 mb-4">
	    <div class="card border-left-success shadow h-60 py-2">
		<div class="card-body">
		    <div class="row no-gutters align-items-center">
				<div class="col">
					<a href="http://yapi.nextop.cc" target="_blank">Yapi 接口 平台</a>
				</div>
				<div>
				    (自主注册登录 )
				</div>
		    </div>
		</div>
	    </div>
	</div>
	<!-- Earnings (Monthly) Card Example -->
	<div class="col-xl-3 col-md-6 mb-4">
	    <div class="card border-left-info shadow h-60 py-2">
		<div class="card-body">

		     <div class="row no-gutters align-items-center">
			<div class="col mr-4">
			    <div class="row no-gutters align-items-center">
				<div class="col">
					<a href="http://yfb.jenkins.nextop.cc" target="_blank">预发 and 生产 Jenkins</a>
				</div>
				<div>
				    (Login via LDAP)
				</div>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	</div>
	<!-- Earnings (Monthly) Card Example -->
    </div>

    <div class="row">
	<!-- Earnings (Monthly) Card Example -->
	<div class="col-xl-3 col-md-6 mb-4">
	    <div class="card border-left-primary shadow h-60 py-2">
		<div class="card-body">
		    <div class="row no-gutters align-items-center">
				<div class="col">
					<a href="http://npm.nextop.cc" target="_blank">npm 内部仓库</a>
				</div>
				<div>
				</div>
		    </div>
		</div>
	    </div>
	</div>


	<div class="col-xl-3 col-md-6 mb-4">
	    <div class="card border-left-primary shadow h-60 py-2">
		<div class="card-body">
		    <div class="row no-gutters align-items-center">
				<div class="col">
					<a href="http://wiki.nextop.cc/pages/viewpage.action?pageId=332760" target="_blank">nextop生产日志查看</a>
				</div>
				<div>
				</div>
		    </div>
		</div>
	    </div>
	</div>


	<div class="col-xl-3 col-md-6 mb-4">
	    <div class="card border-left-primary shadow h-60 py-2">
		<div class="card-body">
		    <div class="row no-gutters align-items-center">
				<div class="col">
					<a href="http://wiki.nextop.cc/pages/viewpage.action?pageId=334521" target="_blank">nextop预发布日志查看</a>
				</div>
				<div>
				</div>
		    </div>
		</div>
	    </div>
	</div>
	<!-- Earnings (Monthly) Card Example -->
	<!-- Earnings (Monthly) Card Example -->
	<!-- Earnings (Monthly) Card Example -->
    </div>




</div>
{%endblock content%}
